*,
*:after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/codropsicons/codropsicons.woff") format("woff"), 
	url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), 
	url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}
.changeLogin{
	width: 25%;
    max-width: 380px;
	transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	overflow: hidden;
}
.initLogin{
	width: 0px;
	max-width:0px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	overflow: hidden;
}
.gn-menu-main{
	margin: 0;
	background: url("../img/background-navbar2.png") #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
	color: #8A0707;
	list-style: none;
	text-transform: none;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	line-height: 60px;
	padding-bottom: 0;
    padding-top: 1.8%;
	padding-left: 2%;
	padding-right: 2%;
}

.gn-menu-main {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: 100%;
	height: 120px;
	font-size: 13px;
}
.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
}

.gn-menu-wrapper {
	position: fixed;
	top: 120px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	border-top: 1px solid #c6d0da;
	background: white;
	-webkit-transform: translateX(-60px);
	-ms-transform: translateX(-60px);
	    transform: translateX(-60px);
	transition: width 0.3s, -webkit-transform 0.3s;
	-webkit-transition: width 0.3s, -webkit-transform 0.3s;
	transition: transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s, -webkit-transform 0.3s;
}

.gn-scroller {
	position: absolute;
	overflow-y: scroll;
	width: 340px;
	height: 100%;
}

.gn-menu {
	border-bottom: 1px solid #c6d0da;
	text-align: left;
	font-size: 18px;
	padding: 0px;
	margin: 0px !important;
}
.gn-menu li:not(:first-child),
.gn-menu li li {
	box-shadow: inset 0 1px #c6d0da
}
nav#gn-menu li.center{
	margin-left: 5%;}

.gn-menu *::before {
	margin: 0.5em; }

.gn-menu.ann *::before {
	margin-left: 1.4em; }

.gn-icon::before {
	display: inline-block;
	text-align: center !important;
	font-family: "ecoicons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gn-icon::after {
	display: inline-block;
	width: 20px;
	text-align: center !important;
	font-family: "ecoicons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gn-icon-accept::before {
	content: "\e006";
	font-size: x-large;
    vertical-align: middle;
}
.gn-icon-den::before {
	content: "\e007";
	font-size: x-large;
    vertical-align: middle;
}
.gn-icon-re::before {
	content: "\e012";
	font-size: x-large;
    vertical-align: middle;
}
.gn-icon-username::before{
	content: "\e214";
	font-size: 30px;
	vertical-align: text-bottom;
}
.gn-icon-password::before{
	content: "\e1b7";
	font-size: 30px;
	vertical-align: text-bottom;
}
.gn-icon-email::before{
	content: "\e216";
	font-size: 30px;
	vertical-align: text-bottom;
}
.gn-icon-openup::before {
	content: "\e053";
	font-size: smaller;
	vertical-align: middle;
}
.gn-icon-opendown::before {
	content: "\e054";
	font-size: smaller;
	vertical-align: middle;
}
.gn-icon-arrow-left::before{
	content: "\e031";
	font-size: smaller;
	vertical-align: middle;
}
.gn-icon-arrow-right::before{
	content: "\e032";
	font-size: smaller;
	vertical-align: middle;
}
.gn-icon-show::before {
	content: "\e190";
	vertical-align:middle;
	width:30px !important;
	font-family: "ecoicons";
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
    top: -10px;
    left: 10px;
    margin-left: -13px !important;
}
.gn-icon-hide::before {
	content: "\e04c";
	font-size: xx-large;
}
.gn-icon-hide {
	cursor: pointer;
}
.gn-icon-help::before {
	content: "\e0c6";
	font-size: 30px;
}
.gn-icon-delete::before {
    content: "\e00a";
    font-size: x-large;
    vertical-align: middle;
}
.gn-icon-edit::before {
	content: "\e1d4";
	font-size: smaller;
}
.gn-icon-ann-edit::before {
	content: "\e20b";
	font-size: xx-large;
	font-weight: bold;
}
.gn-icon-ann-target::before {
	content: "\e1d6";
	font-size: x-large;
}
.gn-icon-ann-ex:before {
	content: "\e04d";
	font-size: xx-large;
}
.gn-icon-ann-ex.gn-icon-regalert::before {
	font-size: medium;
	vertical-align: middle;
}
.gn-icon-register::before {
	content: "\e15b";
	font-size: xx-large;
}
.gn-icon-ann-title::before {
	content: "\e0a5";
	font-size: xx-large;
	vertical-align: middle;
}
.gn-icon-ann-title {
	cursor: default;
}
.gn-icon-ann-autore::before {
	content: "\e207";
	font-size: xx-large;
}
.gn-icon-ann-autore {
	cursor: default;
}
.gn-icon-ann-doi::before {
	content: "\e155";
	font-size: xx-large;
}
.gn-icon-ann-doi {
	cursor: default;
}
.gn-icon-ann-annop::before {
	content: "\e171";
	font-size: xx-large;
}
.gn-icon-ann-annop {
	cursor: default;
}
.gn-icon-ann-url::before {
	content: "\e05c";
	font-size: xx-large;
}
.gn-icon-ann-url {
	cursor: default;
}
.gn-icon-ann-commento::before {
	content: "\e09d";
	font-size: xx-large;
}
.gn-icon-ann-commento {
	cursor: default;
}
.gn-icon-ann-retorica::before {
	content: "\e1ae";
	font-size: xx-large;
}
.gn-icon-ann-retorica {
	cursor: default;
}
.gn-icon-ann-cites::before {
	content: "\e0b3";
	font-size: xx-large;
}
.gn-icon-ann-cites {
	cursor: default;
}
.gn-icon-search::before {
	vertical-align: middle;
	content: "\e001";
	font-size: xx-large;
}
.gn-icon-file::before {
	vertical-align: middle;
	content: "\e00c";
	font-size: x-large;
}
.gn-icon-groups::before {
	vertical-align: top;
    content: "\e1d1";
    font-size: 3em;
}

.gn-icon-lib:before {
	vertical-align: top;
    content: "\e16b";
    font-size: 3em;
}

.gn-icon-netfile:before {
	vertical-align: middle;
	content: "\e208";
	font-size: xx-large;
}
.gn-icon-ann-succ:before {
	content: "\e006";
}
.gn-icon-about::before {
	vertical-align: middle;
	content: "\e0c7";
	font-size: 30px;
}
.gn-icon-johnny-user:before {
	vertical-align: top;
	content: "\e000";
	font-size: 50px;
}
.gn-icon-ann-add::before {
	content: "\e209";
	font-size: x-large;
	vertical-align: middle;

}
.gn-icon-ann-see::before {
	content: "\e11a";
	font-size: 30px;
	vertical-align: middle;
}
.gn-icon-menu::before {
	content: "\e1fc";
	font-size: 30px;
	vertical-align: middle;
}
.gn-icon-ann-filter:before{
	content: "\e20c";
    font-size: 3em;
    vertical-align: top;

}
.gn-icon-ann-exit:before {
  content: "\e1f3";
  font-size: 30px;
  vertical-align: middle;
}
.gn-icon-tool::before {
	content: "\e070";
	font-size: 30px;
	vertical-align: middle;
}
/********************************/
/*       END ICONS              */
/********************************/
/* styles for opening menu */
.gn-open-part{
	border-right: 1px solid #C6D0DA;
}

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	    transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
	width: 340px;
}
.gn-menu-wrapper.gn-open-all .gn-submenu li {
	height: 40px;
	line-height:40px;
}
#gn-menu-slide-menu-retoric {
	padding-left: 0px;
}
#gn-menu-slide-menu-cites {
	padding-left: 0px;
}
.gn-menu .retorica{
	border: none;
}
#succ-comm .commnet-separator {
	background-color: rgba(49,217,12,0.5); }

#succ-comm .commnet-separator p{
    text-align: center;
    font-size: 3em;
    position: absolute;
    top: -35%;
    left: 40%;
    color: white;
    }