.overflow_hidden{
overflow: hidden !important;
}
.check-boxs {
  margin: -18px;
  padding: 0px;
}
.check-boxs li {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  list-style-type: none;
  padding-left: 30px;

}
#tabnav{
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: .5em;
}
#libreria {
  padding: 55px 0px 0px 0px;
}
#filtri, #gruppi {
  padding: 73px 0px 0px 0px;
}
.checkbox-grid-left input[type="checkbox"]{
  display:none;
}
.checkbox-grid-left input[type="checkbox"]+label{
  display:inline-block;
}
.checkbox-grid-left a{
  vertical-align: super;
  margin-left: 10px;
  color: #222;
  font-size: 1em;
}

.latest_tweets a {
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  line-height: 60px;
}
.ann-details{
  cursor: auto;}

  #show-comm, #show-cites {
    max-width: 80%;
  }
  .commnet-desc {
    background-color: #ffffff;
  }
  .commnet-user {
    width: 100%;
    padding: 2%;
  }
  .commnet-user div h3 {
    display: block;
    float: left;
  }
  .commnet-user img{
    display:block;
  }
  .time{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
  }
  .commnet-desc p{
    font-size:14px;
    color:#314559;
  }
  .commnet-desc h3{
    font-size:20px;
    color:#414445;
    font-weight:600;
    display:inline-block;
    margin-left: 20px;
  }
  .commnet-desc span.time{
    float:left;
    font-size:11px;
    color:#314559;
  }
/***************************
*        modals            *
*                          *
****************************/
#riepilogo_ann {
  overflow-y: scroll;
  max-height: 18em; }

.modal-content.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
  margin-bottom:0!important; 
 }
 #CarouselViewMain {
    top: 0 !important;
    max-height: 100%;
    height: 100%;
 }
 #CarouselView {
  height: 100%;
 }
 .carousel-inner {
  top: 20%;
 }
 .carousel-control span {
      position: inherit;
      top: 30%;
 }
 #CarouselView .row {
  margin: 0px !important;
 }
 #CarouselView .modal {
    width: 65% !important;
    overflow-x: hidden;
 }
  #CarouselView .commnet-separator {
  padding: 24px !important;
  }
  .footerlabel::before {
    margin-right: 1em;
    vertical-align: middle;
  }
  #idDiMerda.modal {
    width: 49em !important;
    top: 6% !important;
    max-height: 100%;
    height: 80%;
  }
  #idDiMerda h2 {
    margin-bottom: 0.5em;
  }
  #change-target {
    padding:10px 39px 33px 30px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-transform: none;
    width: auto;
    min-width: 220px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
 #change-target:hover, #change-target:focus,#change-target:active {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
  #change-target::before {
    vertical-align: text-top;
  }
  #testo_selezionato {
    text-align: center;
    margin: 2em 0px -1em 0px;
    overflow: auto;
    max-height: 100px;
  }
  .input-field label[for="iperTextArea"] {
    color: #000000;
    top: 45px;
    font-size: 1.2em;
    left: 25%;
  }
  #idDiMerda .commnet-separator .commnet-user {
    position: absolute;
    bottom: 0;
    margin: 0;
  } 
  #idDiMerda input {
    outline: none;
  }
  #idDiMerda .input-field label.active {
    width: 60%;
  }
  #idDiMerda .commnet-desc.modal-content {
    overflow: hidden;
  }
  #iperTextArea {
    min-height: 24px;
    height: 24px;
  }
  #view.modal {
    width: 70%;
    margin-top: 5%;
  }
  #riepilogo_ann .row {
    margin: 2%;
  }
  #aboutus.modal .modal-footer {
    border-radius: 0; 
    background:none; 
    padding: 2%;
    height: auto;
    width: 100%;
}
#aboutus.modal {
  height: 100%;
  max-height: 76%;
}
#help .slides {
  background: none!important;
}
#myLoader {
  z-index: 14999 !important;
}
/***************************
*    HIGHLIGHTS
*
***************************/
.hasAuthor0, .hasAuthor1,.hasPublicationYear0, .hasPublicationYear1, .hasTitle0, .hasTitle1,
.hasDOI0, .hasDOI1, .hasURL0, .hasURL1, .hasComment0,.hasComment1, .cites0, .hasIntro, .hasConcept,
.hasAbstr, .hasMateria, .hasMeth, .hasRes, .hasDisc, .hasConc {
  font-family: "Lato", "Roboto", sans-serif;
  color: #444444;
  overflow: hidden; 
}

.hasTitle0, .hasTitle1 {background-color: #80b1d3;}
.hasAuthor0, .hasAuthor1 {background-color: #8DD3C7;}
.hasDOI0, .hasDOI1 {background-color: #fdb462;}
.hasPublicationYear0, .hasPublicationYear1 {background-color: #BEBADA;}
.hasURL0, .hasURL1 {background-color: #fccde5;}
.hasComment0,.hasComment1 {background-color: #b3de69;}
.cites0 {background-color: #d73027;}
.hasDisc {background-color: #2ECC71;}
.hasIntro {background-color: #FFED6F;}
.hasConcept {background-color: #FB8072;}
.hasAbstr {background-color: #BE90D4;}
.hasMateria {background-color: #D9D9D9;}
.hasMeth {background-color: #BC80BD;}
.hasRes {background-color: #BF812D;}
.hasConc {background-color: #3498DB;}
/***************************
*    REGISTER
*
***************************/
#modalReg .gn-icon::before {
  font-size: 20px;
  vertical-align: text-top;
}
#modalReg .commnet-user {
  margin-top: -webkit-calc(100% - 10em);
  margin-top: calc(100% - 10em); }

#modalReg .modal-footer {
  background: none !important;
  border: none !important; }

.modal-content {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
 #modalReg.modal.bottom-sheet .modal-content {
  box-shadow:none; }

#modalReg.modal {
  width: 48em; }
#modalReg.modal .modal-content {
  width: 48em; }

  #modalReg.modal.bottom-sheet .modal-content{
  width: 100% !important;
  max-width: 100% !important; }

#modalReg .input-field {
    margin-top: 2.8rem; }

#modalReg .input-field label{
  font-size: 1.5rem; }
#modalReg .input-field label.active {
  font-size: 1.2rem; }
#modalReg input[type=text],
#modalReg input[type=password],
#modalReg input[type=email] {
  border-bottom: 1px solid #000000; }

#modalReg input[type=text].invalid + label:after,
#modalReg input[type=text]:focus.invalid + label:after,
#modalReg input[type=password].invalid + label:after,
#modalReg input[type=password]:focus.invalid + label:after,
#modalReg input[type=email].invalid + label:after,
#modalReg input[type=email]:focus.invalid + label:after {
  color: #F44336; }

#modalReg .input-form {
  margin-top: 4%; }

#modalReg.modal.modal-fixed-footer {
    height: 100%;
    max-height: 75%; }

  /* label color */
#modalReg .input-field label {
   color: #000;
 }
 /* label focus color */
#modalReg .input-field input[type=text]:focus + label {
   color: #616161;
 }
 /* valid color */
#modalReg .input-field input[type=text].valid,
#modalReg .input-field input[type=password].valid,
#modalReg .input-field input[type=email].valid {
   border-bottom: 1px solid #4CAF50;
   box-shadow: 0 1px 0 0 #4CAF50;
 }
 /* invalid color */
#modalReg .input-field input[type=text].invalid,
#modalReg .input-field input[type=password].invalid,
#modalReg .input-field input[type=email].invalid {
   border-bottom: 1px solid #F44336;
   box-shadow: 0 1px 0 0 #F44336;
 }
/*blanck color*/
#modalReg .input-field input[type=text].blanck,
#modalReg .input-field input[type=password].blanck,
#modalReg .input-field input[type=email].blanck {
   border-bottom: 1px solid #F44336;
   box-shadow: 0 1px 0 0 #F44336;
 }
#modalReg .input-field .prefix {
   color: #000000;
 } 
 /* icon prefix focus color */
#modalReg .input-field .prefix.active {
   color: #616161;
 }

 .large-menu{
  font-size: x-large;
  font-weight: 900;
}
.dropdown-content.active{
  width: 170px !important;
}
.login_2{
  margin-top:1em;
}
ul.accout-login2{
  background:#fff;
  padding: 2em 2em 1em;
}
ul.accout-login2 input[type="email"], ul.accout-login2 input[type="password"]{
  outline: none;
  background: none;
}
ul.login_3{
  padding: 1em 2em 0.4em;
}

.various-grid {
  list-style-type: none;
}
#erroremail {
  display: none;
  font-family: "Roboto","'Lato'", sans-serif;
  color: #F44336;
  margin-top: 3%;
}
/***************************
*    HOME
*
***************************/
.doc-search .input-field input{
    width: 100%;
    line-height: 3rem;
    height: 3em;
}
.doc-search .row {
  margin: 0px !important;
}
.floating-menu{
  bottom: 8%;
  right: 10%;
}
.logoraschetto{
  background: url("../img/logoRaschetto.svg");
  background-size: 37em;
  background-repeat: no-repeat;
  width: 37rem;
}
.input-field input[type=search] + label[for=iptSearch] {
  left: -6rem;
}
.field-search{
  margin-top: -6%;
  margin-left: 45%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'Lato', sans-serif;
  color: #616161 !important;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0px 0px 0px 3px;
  font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Lato', sans-serif;
  color: #616161 !important;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0px 0px 0px 3px;
  font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Lato', sans-serif;
  color: #616161 !important;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0px 0px 0px 3px;
  font-weight: 300;
}
nav input#iptSearch::-webkit-input-placeholder {
  color: #E0E0E0 !important;
}
nav input#iptSearch::-moz-placeholder {
  color: #E0E0E0 !important;
}
nav input#iptSearch:-ms-input-placeholder {
  color: #E0E0E0 !important;
}
nav input#iptSearch::placeholder {
  color: #E0E0E0 !important;
}
.navbar-brand{
  height:140px !important; 
  width:480px; 
  overflow:hidden;
  background: none!important;
  color: rgba(255,255,255,0)!important;
}
.navbar-brand:hover{
  background: none!important;
  color: rgba(255,255,255,0);
}
#longLogo h1,h2,h3,h4{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#longLogo h1 {
  font-size: 4em;
}
#longLogo {
  text-align: center;
}
#longLogo span.gn-icon:before{
  font-size: large !important;
}
#longLogo span.codrops-icon:before{
  font-size: large !important;
}
#imgLogo {
  width: 25em;
}
#longLogo .content h2 {
  color: #8A0707;

}
#help table {
  border-collapse: separate;
  border-spacing: 1em;
  text-align: center;
}
#help table td {
  width: 50%;
  height: 2em;
}
#help .gn-icon-ann-filter:before {
    content: "\e20c";
    font-size: 2em;
    vertical-align: middle;
  }
#filter-menu{
  border-top: 0px;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#liOpenMenu {display: none;}
/***************************
*    BACK TO TOP
*
***************************/
a.cd-top {
  text-decoration: none;
}
.cd-top {
      display: inline-block;
    height: 4em;
    width: 4em;
    position: fixed;
    right: 50%;
    top: 8%;
    z-index: 1301;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-top-arrow.svg) no-repeat center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    background-size: 3em;
    background-position-y: 100%;
    background-position-x: 100%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .7;
}
.no-touch .cd-top:hover {
  opacity: 1;
}
tabs .indicator {
  background-color:  #b71c1c !important;
  z-index: 2;
}
/***************************
*    CARDS
*
***************************/
.card-1 {
  min-height: 13.1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/***************************
*    CARDS
*
***************************/
.infront { position: relative;
  z-index: 20;
}
